# VPN
WG_PRV_KEY="YOUR_WIREGUARD_PRIVATE_KEY"
WG_SERVER_COUNTRIES="Country"

QBIT_WEBUI_PORT=8088

# common
BASE=/opt/chill
DOWNLOADS=/opt/chill/storage/downloads
PUID=1030
PGID=100
TZ=Europe/Paris
# To find the local subnet mask: ip route | awk '!/ (docker0|br-)/ && /src/ {print $1}'
NETWORKIP=192.168.1.0/24
